body{
    font-family: 'Montserrat', sans-serif;
    background: #bbb2a6;
    height: 1399px;
    max-width: 1280px;   
    border-radius: 0px;
    margin: 40px auto;
}

h1{
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    padding: 0 0 0 0;
    text-shadow: 1px 1px 5px darkslateblue;
}

h2{
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    padding-bottom: 40px;
    text-shadow: 1px 1px 5px darkslateblue;
}

h3{
    color:#FB6D3A;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    flex: 0 1 auto;
    justify-content: space-around;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}

.main-content {
    max-width: 830px;
    padding: 30px 0 0 88px;
    margin: 0 35px 0 -25px;
}

.main-content h3{
    font-size: 22px;
}

.about-me {
}
.about-me > p{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 0 95px 0 0;
}


.projects {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
}

.projects a{
    color: #595959;
}

.projects a:hover{
    color:rgb(156, 48, 48);
    text-shadow: 0.3px 0.3px #000;
}

.projects span{
    font-weight: 600;
    opacity: 0.8;
}

.projects li:first-child{
    padding-bottom: 30px;
}

.realtime{
    margin-bottom: 40px;
}

.realtime li{
    padding: 5px 0;
}

.realtime li a{
    color:black;
}
.realtime li a:hover{
    color:#FB6D3A;
    transition-duration: 0.5s;
}

.realtime li span{
    font-weight: bold;
}

.work{
    margin-bottom: 40px;
}

.work li{
    padding: 5px 0;
}

.purpose {
    padding-bottom: 100px;
}
.contacts li:hover{
    text-shadow: 0.4px 0.4px rgb(10, 56, 37);
}

.contacts a {
    color: crimson;
    text-decoration: none;
}

.contacts span{
    margin-right: 7px;
}

.foto{
    padding: 40px 0;
    max-width: 370px;
}

.list li{
    color: #FB6D3A;
}

.list li span{
    color: #FFFFFF;
}

.bold{
    font-weight: bold;
}

.radio{
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
}
.light {
    background: rgb(255, 255, 255);
    color: #595959;;
}
.dark {
    background: rgb(28, 24, 44);
    color: #fff;
}

@media (max-width: 767px){
    .container {
        flex-direction: column;
    }

    .purpose{
        margin-bottom: 50px;
    }
}